<!doctype html>
<html>
    <head>
        <title>Update</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.1.25/spectre.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <form action="/update" method="POST" class="centered mt-10 ml-10 mr-10">
            <div class="form-group">
                <label class="form-label" for="email">Email</label>
                <input class="form-input" type="text" name="email" id="email"/>
            </div>
            <div class="form-group">
                <select name="superpower" id="superpower">
                    <option value="complexity-busting">complexity-busting</option>
                    <option value="creative-thinking">creative-thinking</option>
                    <option value="cultural-compass">cultural-compass</option>
                    <option value="decisiveness">decisiveness</option>
                    <option value="empathy">empathy</option>
                    <option value="energy">energy</option>
                    <option value="evangelizing">evangelizing</option>
                    <option value="experimentation">experimentation</option>
                    <option value="gap-detection">gap-detection</option>
                    <option value="grit">grit</option>
                    <option value="harmonizing">harmonizing</option>
                    <option value="ingenuity">ingenuity</option>
                    <option value="motivation">motivation</option>
                    <option value="negotiation">negotiation</option>
                    <option value="pattern-mapping">pattern-mapping</option>
                    <option value="peacemaking">peacemaking</option>
                    <option value="problem-solving">problem-solving</option>
                    <option value="provocation">provocation</option>
                    <option value="recalibration">recalibration</option>
                    <option value="systems-thinking">systems-thinking</option>
                    <option value="vision">vision</option>
                </select>
            </div>            
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </form>
    </body>
</html>

